# Python virtual environment
venv/
app/__pycache__/
app/Wav2Lip/__pycache__/
app/Wav2Lip/temp/result.avi
app/Wav2Lip/temp/temp.wav


# Wav2Lip large files
app/Wav2Lip/checkpoints/wav2lip_gan.pth
app/Wav2Lip/face_detection/detection/sfd/s3fd.pth